.AboutUs-Container {
  width: 800px;
  /* height: 700px; */
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  position: relative;
  background-color: yellow;
}
/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  header 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.AboutUs-header {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.AboutUs-header h1 {
  font-size: 2rem;
  font-weight: 600;
}

/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  main 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.AboutUs-main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  main 영역 - OurInfo
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.OurInfo {
  margin: 20px;
  /* background: pink; */
  border-radius: 20px;
  /* padding: 3rem 2rem 1rem; */
}
.OurInfo img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .AboutUs-Container {
    width: 100%;
        padding: 0 20px;
        flex-direction: column;
  }

  .AboutUs-main {
  }

  .OurInfo > img {
    width: 20rem;
    height: 20rem;
  }
}