.Home-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WelcomeMessage {
    width: 1000px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0 ,0, 0, 0.05);
    border-radius: 25px;
}

.WelcomeMessage span {
    font-family: 'MaplestoryOTFBold';
}

.WelcomeMessage > h2 {
    font-size: 2rem;
    line-height: 1.5;
}
.WelcomeMessage > h3 {
    font-size: 1.8rem;
    line-height: 1.5;
}

.Dino {
    width: 1000px; 
    height: 300px; 
    margin-top: 100px;
}

.DinoAddr {
    border-radius: 25px;
    position: absolute; 
    width: 1000px; 
    height: 300px; 
    z-index: 999;
}

.DinoStartMessage {
    padding-top: 10px;
    color: gray;
}

@media screen and (max-width: 1199px) {

    .Container {
        width: 100%;
        /* padding: 0 20px; */
        flex-direction: column;
    }

    .Home-Container {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 14px;
    }

    .Dino {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 14px;
        min-width: 360px;
        margin-top: 100px;
    }

    .WelcomeMessage {
        width: 100%;
        height: 150px;
        min-width: 360px;
    }

    .WelcomeMessage >h3 {
        font-size: 25px;
    }

    .WelcomeMessage >h2 {
        font-size: 20px;
    
    }

    .DinoAddr {
        width: 100%;
        min-width: 360px;
    }


}