.Home-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WelcomeMessage {
    width: 1000px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0 ,0, 0, 0.05);
    border-radius: 25px;
}

.WelcomeMessage span {
    font-family: 'MaplestoryOTFBold';
}

.WelcomeMessage > h2 {
    font-size: 2rem;
    line-height: 1.5;
}
.WelcomeMessage > h3 {
    font-size: 1.8rem;
    line-height: 1.5;
}

.Dino {
    width: 1000px; 
    height: 300px; 
    margin-top: 100px;
}

.DinoAddr {
    border-radius: 25px;
    position: absolute; 
    width: 1000px; 
    height: 300px; 
    z-index: 999;
}

.DinoStartMessage {
    padding-top: 10px;
    color: gray;
}