.Mypage-Container {
    display: block;
    gap: 20px;
    margin: 0 auto;
    width: 800px;
    height: 840px;
    margin-top: 100px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    align-items: center;
    justify-items: stretch;
    overflow-x: hidden;
    overflow-y: hidden;
    ;
}


.Mypage-box {
    width: 600px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.MyPage-header {
    margin-top: 10px;
    text-align: center;
}

.MyPage-img {
    margin: 0 10px 10px 10px;
    position: relative;
    bottom: 20px;

}


.btn-upload {

    width: 177px;
    height: 30px;
    border-radius: 20px;
    margin: 0 0 10px 210px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-upload:active{
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}


#file {
    display: none;
}

.MyPage-img-file {
    padding-bottom: 20px;
}

.MyPage-Table {
    flex-direction: column;
    width: 600px;
    position: relative;
    bottom: 30px;
}

.myPage-input {
    width: 170px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-weight: 500;
}

.inputBox {
    height: 25px;
    width: 220px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.myPage-input>input {
    height: max-content;
}

.mypage-btn {
    width: 70px;
    height: 27px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-left: 10px;
    font-weight: 900;
}

.mypage-btn:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;

}


.mypage-btn-select {
    margin-left: 10px;
    width: 70px;
    height: 27px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    font-weight: 900;

}

.mypage-btn-select:active{
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.Form-Name {
    margin-left: 20px;
    width: 170px;
}

.mypage-input-adrr1 {
    width: 220px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mypage-input-adrr2 {
    width: 220px;
    height: 25px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mypage-input-select1 {
    width: 224px;
    height: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mypage-input-select2 {
    width: 224px;
    height: 27px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.Form-item {
    margin-top: 5px;
    display: flex;
    width: 600px;
    height: 30px;
}



#picture {
    margin-bottom: 10px;
}




.Select-Sido {
    width: 100px;
    border-radius: 20px;
    max-height: 25px;


}

.Select-SiGuGun {
    width: 100px;
    border-radius: 20px;
    max-height: 25px;

}



.Mypage-examine {
    width: 224px;
    height: 27px;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 900;

}

.Mypage-examine:active{
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}







.MyPage-Modify-Btn {
    width: 100px;
    border-radius: 20px;
}

.Mypage-leave-btn {
    margin-top: 20px;
    position: relative;
    left: 220px;
    width: 120px;
    height: 25px;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 900;
}

.Mypage-leave-btn:active{
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.MyPage-input-file {
    display: flex;
    margin-left: 140px
}


.Form-Name {
    font-size: 25px;
    display: flex;
    align-items: center;
}