.L-Container {
  box-sizing: border-box;
  width: 1180px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.04);
  height: 100%;
}
.Login-Container{
  display: flex;
  margin-right: auto;
  height: 100%;
  margin-left: auto;
  margin-top: 2rem;
  align-items: center;
  max-width: 800px;
  font-family: "Jalnan";
  text-align: center;
}

    .Login-box1 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 100%;
    width: 80%;
    padding: 25px;
    margin: 4rem;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .Login-Main-font{
    margin: 30px;
    text-align: center;
  }

  .Login-Main-Word{
    font-size: 50px;
   
  }

  .Login-Id {
    text-align: center;
    width: 48%;
    display: flex;
    justify-content: center;
    margin: 0 auto;   
    margin-bottom: 1rem;
  }
  
  .Login-PW {
    margin-bottom: 10px;
    text-align: center;
    width: 48%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

  }



  .Login-botton {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
    height: 20px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-family: "Jalnan";
    letter-spacing: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .Login-input {
    margin-left: 1px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 300px;
    border-radius: 25px;
    font-size: 1.3rem;
    padding: 0.7rem;
    font-family: "Jalnan";
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  .Login-footer {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }


  .Login-Id {
    margin-top:50px;
   
  }
  .Login-Google{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }


  .Auto-Login {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

  }

  .Auto-Login-input {
    margin-right: 10px;
    margin-left: 10px;
    
  }

  .Login-kakao {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -3rem;
  }

  .kakao-img {
    margin-bottom: 1rem;
    height: 50px;
    width: 15rem;
    
  }







  

  