.Login-Container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  max-width: 1180px;
  font-family: "Jalnan";
  background-color: white;
  text-align: center;

}

    .Login-box1 {
    border: 1px solid;
    height: 100%;
    width: 90%;
    padding: 25px;
    margin: 4rem;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .Login-Main-font{
    margin: 30px;
    text-align: center;
  }

  .Login-Main-Word{
    font-size: 50px;
   
  }

  .Login-Id {
    margin-bottom:30px;
    text-align: center;
  }
  
  .Login-PW {
    margin-bottom: 10px;
    text-align: center;
  }



  .Login-botton {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-family: "Jalnan";
    letter-spacing: 0.5rem;
  }

  .Login-input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 300px;
    font-size: 1.3rem;
    padding: 0.7rem;
    font-family: "Jalnan";
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  .Login-footer {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }


  .Login-Id {
    margin-top:50px;
   
  }


  .Auto-Login {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

  }

  .Auto-Login-input {
    margin-right: 10px;
    margin-left: 10px;
    
  }

  .social-Login {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -3rem;
  }

  .kakao-img {
    height: 50px;
    
  }







  

  