.Postbox-Container {
  width: 800px;
  height: 800px;
  align-items: center;

  padding: 2rem;
  border-radius: 10px;
  position: relative;
  /* background-color: purple; */
  
}

.Postbox-table input[type="checkbox"] {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: .5rem;
}



/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  header 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-header {
  margin: 1rem auto 2rem;
  text-align: center;
}

.Postbox-Container .delete {
  margin-bottom: 1rem;
  align-content: center;
  border: none;
  letter-spacing: .2rem;
  transition: background .5s;

  background-color: var(--pink);
  color: var(--white);
  outline: none;
  width: 80px;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 25px;
  /* font-family: 'LINESeedKR-Bd'; */
  font-family: 'MaplestoryOTFBold';
}


/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  main 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-main {
  height: 450px;
  margin-bottom: 4rem;
  justify-content: center;
}


.Postbox-table {
  text-align: center;
  box-shadow: 12px 12px 12px rgba(32,32,32,.5);
  border: 1px solid skyblue;
  border-collapse: collapse;

  /* height: 500px; */
  /* background-color: gray; */
  /* border-collapse: collapse; */
  /* border-radius: 12px 12px 0 0; */
  /* overflow: hidden; */
  /* border-spacing: 0; */
}



/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  main 영역 - thead
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-table thead tr  {
  background-color: var(--navy);
  color: var(--white);
}
.Postbox-table thead tr th {
  /* padding: .75rem; */
  padding: 0.5rem 1rem; 
  border: 1px solid skyblue;
  letter-spacing: 3px;
}

.Postbox-table .thead-checkbox { 
  width: 49px; 
  padding: .5rem;
}
.Postbox-table .thead-postSender { width: 132px; }
.Postbox-table .thead-content { width: 398px; }
.Postbox-table .thead-postTime { width: 152px; }


/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  main 영역 - tbody
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-table tbody td {
  /* padding: 위아래 좌우 */
  /* padding: 10px 12px; */
  padding: 0.5rem 1rem; 
  /* padding: .75rem;  */
  border: 1px solid skyblue;
  background-color: white;
}

.Postbox-table-tbody-td-content-div {
  width: 362px;
  text-align: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  footer 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-footer {
  height: 60px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px auto;
}



/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  페이지네이션
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Postbox-Pagination {
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--navy);
  border-radius: 50px;
  color: white;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  /* height: 30px; */
  padding: 8px;
  font-family: 'MaplestoryOTFBold';
}

.Postbox-Pagination .move {
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.Postbox-Pagination .before:hover {
  border-radius: 25px 5px 5px 25px;
}
.Postbox-Pagination .next:hover {
  border-radius: 5px 25px 25px 5px;
}

.Postbox-Pagination .before:hover,
.Postbox-Pagination .next:hover,
.Postbox-Pagination li:hover {
  background: #fff;
  color: var(--navy);
}
.Postbox-Pagination .move .selected_page {
  background: var(--navy);
  color: yellow;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}




.Postbox-Pagination li {
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  display: flex;
  border-radius: 50%;
  color: white;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 15px;
}


/*
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  반응형
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
@media (max-width: 840px) {
  .Postbox-Container {
    width: 50vw;
  }
}