:root {
    /* color */
    --navy: #29335c;
    --red: red; 
    --white: white;
}

/* 
기본 설정 사이즈
*/
/* 
각페이지-Box {
    width: 700px;
    height: 800px;
}
input {
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
select { 
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
오류 Message {
    color: var(--red);
    font-size: 12px;
}
button {
    height: 50px;
    border-radius: 25px;
    background-color: var(--navy);
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    color: var(--white);
}

*/

.Container {
    box-sizing: border-box;
    width: 1180px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.04);
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 50px;
}

/* .Middle-Container {
    display: flex;
    justify-content: center;
    align-items: center;
} */