:root {
    /* color */
    --navy: #29335c;
    --red: red; 
    --white: white;
    --pink: #e24b4b;
}

/* 
기본 설정 사이즈
*/
/* 
각페이지-Box {
    width: 700px;
    height: 800px;
}
input {
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
select { 
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
오류 Message {
    color: var(--red);
    font-size: 12px;
}
button {
    height: 50px;
    border-radius: 25px;
    background-color: var(--navy);
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    color: var(--white);
}

나눔바른펜 일반용
font-family: 'NanumBarunPen';
font-family: 'NanumBarunPenBold';

 빙그레체
font-family: 'Binggrae';

*/
/* 메이플스토리체 */
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/* 라인체 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 조혜경 찾는 중 - 빙그레, 만화진흥원체, 마포한아름, 이랜드 초이스체, 문화재돌봄체, 환경체 */ 

@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EnvironmentR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 나눔고딕 */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);




.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}


* { 
    box-sizing: border-box;
    font-family: 'LINESeedKR-Bd';
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.Container {
    font-family: 'MaplestoryOTFBold';
    width: 100vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.04);
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.No-Nav-Container {
    width: 100vw;
    margin: auto;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .Middle-Container {
    display: flex;
    justify-content: center;
    align-items: center;
} */