:root {
    /* color */
    --navy: #29335c;
    --red: red; 
    --white: white;
    --pink: #e24b4b;
}

/* 
기본 설정 사이즈
*/
/* 
각페이지-Box {
    width: 700px;
    height: 800px;
}
input {
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
select { 
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
오류 Message {
    color: var(--red);
    font-size: 12px;
}
button {
    height: 50px;
    border-radius: 25px;
    background-color: var(--navy);
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    color: var(--white);
}

나눔바른펜 일반용
font-family: 'NanumBarunPen';
font-family: 'NanumBarunPenBold';

 빙그레체
font-family: 'Binggrae';

*/
/* 메이플스토리체 */
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* 원스토어 모바일POP체 */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 티몬체 */
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 라인체 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    /* font-weight: 400; */
    font-style: normal;
}

/* 카페24 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 나눔고딕 */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}


* { 
    box-sizing: border-box;
    font-family: 'LINESeedKR-Bd';
}

a {
    text-decoration: none;
    color: black;
}

.Container {
    font-family: 'MaplestoryOTFBold';
    width: 100vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.04);
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.No-Nav-Container {
    width: 100vw;
    margin: auto;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .Middle-Container {
    display: flex;
    justify-content: center;
    align-items: center;
} */